WebServiceLibros/Connected Services/LibroService/Libros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Lista">
        <s:complexType />
      </s:element>
      <s:element name="ListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addBookResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOneBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOneBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOneBookResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateBookResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaSoapIn">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="ListaSoapOut">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="addBookSoapIn">
    <wsdl:part name="parameters" element="tns:addBook" />
  </wsdl:message>
  <wsdl:message name="addBookSoapOut">
    <wsdl:part name="parameters" element="tns:addBookResponse" />
  </wsdl:message>
  <wsdl:message name="getOneBookSoapIn">
    <wsdl:part name="parameters" element="tns:getOneBook" />
  </wsdl:message>
  <wsdl:message name="getOneBookSoapOut">
    <wsdl:part name="parameters" element="tns:getOneBookResponse" />
  </wsdl:message>
  <wsdl:message name="updateBookSoapIn">
    <wsdl:part name="parameters" element="tns:updateBook" />
  </wsdl:message>
  <wsdl:message name="updateBookSoapOut">
    <wsdl:part name="parameters" element="tns:updateBookResponse" />
  </wsdl:message>
  <wsdl:portType name="LibrosSoap">
    <wsdl:operation name="Lista">
      <wsdl:input message="tns:ListaSoapIn" />
      <wsdl:output message="tns:ListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <wsdl:input message="tns:addBookSoapIn" />
      <wsdl:output message="tns:addBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOneBook">
      <wsdl:input message="tns:getOneBookSoapIn" />
      <wsdl:output message="tns:getOneBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <wsdl:input message="tns:updateBookSoapIn" />
      <wsdl:output message="tns:updateBookSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibrosSoap" type="tns:LibrosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <soap:operation soapAction="http://tempuri.org/addBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneBook">
      <soap:operation soapAction="http://tempuri.org/getOneBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <soap:operation soapAction="http://tempuri.org/updateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LibrosSoap12" type="tns:LibrosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lista">
      <soap12:operation soapAction="http://tempuri.org/Lista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <soap12:operation soapAction="http://tempuri.org/addBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneBook">
      <soap12:operation soapAction="http://tempuri.org/getOneBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <soap12:operation soapAction="http://tempuri.org/updateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Libros">
    <wsdl:port name="LibrosSoap" binding="tns:LibrosSoap">
      <soap:address location="https://localhost:44318/Libros.asmx" />
    </wsdl:port>
    <wsdl:port name="LibrosSoap12" binding="tns:LibrosSoap12">
      <soap12:address location="https://localhost:44318/Libros.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>